<% form_for @asset do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Purchase_Order_Number %><br />
    <%= f.text_field :Purchase_Order_Number %>
  </p>
  <p>
    <%= f.label :Request_Number %><br />
    <%= f.text_field :Request_Number %>
  </p>
  <p>
    <%= f.label :Order_Date %><br />
    <%= f.date_select :Order_Date %>
  </p>
  <p>
    <%= f.label :Location %><br />
    <%= f.text_field :Location %>
  </p>
  <p>
    <%= f.label :Description %><br />
    <%= f.text_area :Description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
